= form_for([:admin, @business]) do |f|
  - if @business.errors.any?
    #error_explanation
      %h2= "#{pluralize(@business.errors.count, "error")} prohibited this business from being saved:"
      %ul
        - @business.errors.full_messages.each do |msg|
          %li= msg

  .form-fields
    -if @state
      .row.large-10.large-centered.columns
        =f.label :city_id
        =f.select :city_id, options_from_collection_for_select(@cities, :id, :city_display, @business.city ? @business.city.id : ''), include_blank: '- Select -'
    -else
      .row.large-10.large-centered.columns
        =label_tag :state
        =select_tag :state, options_from_collection_for_select(State.all, :id, :state_display), class: 'city_select_helper'
    .row.large-10.large-centered.columns
      =f.label :name
      =f.text_field :name
    .row.large-10.large-centered.columns
      =f.label :category
      =f.text_field :category
    .row.large-10.large-centered.columns
      .large-4.columns
        =label_tag 'Filterable Tags'
        =select_tag 'business[tag_ids][]', options_from_collection_for_select(Tag.filterable, :id, :name, selected: @business.tags.collect(&:id)), multiple: true
      .large-4.columns
        =label_tag 'Other Tags'
        =select_tag 'business[tag_ids][]', options_from_collection_for_select(Tag.not_filterable, :id, :name, selected: @business.tags.collect(&:id)), multiple: true
      .large-4.columns
        =label_tag 'New Tags (Comma Separated)'
        =text_field_tag 'business[new_tags]'

    %fieldset.row.large-10.large-centered.columns
      %legend Profile Pic

      .large-6.columns
        =image_tag @business.profile_pic.url(:medium)
      .large-6.columns
        =f.file_field :profile_pic

    .row.large-10.large-centered.columns
      =f.label :formatted_address
      =f.text_field :formatted_address
      %button.button{href: '#', onclick: 'Admin.geocode_biz()'}
        Geocode

    .row.large-10.large-centered.columns
      =f.label :zipcode
      =f.text_field :zipcode
    .row.large-10.large-centered.columns
      =f.label :phone
      =f.text_field :phone
    .row.large-10.large-centered.columns
      =f.label :website
      =f.text_field :website
    .row.large-10.large-centered.columns
      =f.label :facebook_page
      =f.text_field :facebook_page
    .row.large-10.large-centered.columns
      =f.label :description
      =f.text_area :description
    .row.large-10.large-centered.columns
      =f.label :details
      =f.text_area :details
    .row.large-10.large-centered.columns
      =f.label :price_level
      =f.select :price_level, options_for_select(1..4)
    .row.large-10.large-centered.columns
      =f.label :lat
      =f.text_field :lat
      =f.label :lng
      =f.text_field :lng
    .row.large-10.large-centered.columns
      =f.label :active
      =f.check_box :active
    .row.large-10.large-centered.columns


  .actions
    = f.submit 'Save'
