%h1 Listing businesses

%table
  %tr
    %th City
    %th Name
    %th Category
    %th Address
    %th Phone
    %th Active?
    %th
    %th

  - @businesses.each do |business|
    %tr
      %td= business.city.city_display
      %td= link_to business.name, edit_admin_business_path(business)
      %td= business.category
      %td= business.formatted_address
      %td= business.phone
      %td= business.active? ? 'yes' : 'no'
      %td= link_to 'Show', business
      %td= link_to 'Destroy', [:admin, business], :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

=link_to 'New Business', new_admin_business_path

.search-google
  %fieldset
    %legend Google Search
    .row.collapse
      .large-8.column
        =text_field_tag "query"
      .large-2.column
        %button.postfix{onclick: "Admin.searchGoogle(this)"} Search
      .column

  .new-business-form
    = form_for([:admin, Business.new], remote: true) do |f|
      .row
        .large-1.column
          =f.submit "Create", class: 'button'
        .large-7.column
          =f.label :name
          =f.text_field :name
        .column
      .row
        .large-3.large-offset-1.column
          =f.label :formatted_address
          =f.text_field :formatted_address
        .large-4.column
          =label_tag :city_name
          =text_field_tag :city_name

        .column
      .row
        .large-3.large-offset-1.column
          =f.text_field :lat
        .large-3.column
          =f.text_field :lng
        .column
  .search-results

    


#map-canvas