-content_for(:scripts){render '/layouts/gmap.js'}
- title 'Welcome'

=render 'shared/head'
.tag-filter-bg
  =render 'tag_filter'
   
.results.row
  .map.large-4.columns.show-for-medium-up
    #map-canvas
  .businesses.large-7.column

    -@businesses.each do |business|
      .business.row{data: {lat: business.lat, lng: business.lng}, :id=> business.name}
        .small-2.column
          =image_tag (business.profile_pic.url(:medium)), class: "thumb"
        .small-10.column
        
          %hgroup.row
            .large-9.column
              %h2
                =link_to business.name, business_path(business), class: 'business-name'
            .large-3.column
              %h3= business.category
          .description= business.description
          .import_info
            %span= business.formatted_address
            %span= business.phone
            
    =will_paginate @businesses

.main.row  
  .large-8.small-centered.columns.row
    .disclaimer.show-for-medium-up.large-10
      %p Ahoy!!! Currently we arrr setting sail in the Rogue Valley in Southern Oregon. 
      %p Beginning in Ashland Oregon, we be adding new businesses as we grow. 
      %p We arrr plotting our course and swabbing the deck. If y'ad like t'e add a sustainable business, 
      %p hail the crew via the <a href="mailto:info@roguemaps.com?Subject=Hailing%20the%20crew"><span style="color: red">Contact</span></a> link above. 
      %p Meanwhile explore what there is by clicking on ye ol' spyglass. 
      .disclaim-footer
        .large-12.columns
          = link_to 'https://www.facebook.com/RogueMaps', class: 'link' do
            Like our
            %span Facebook page
    
